@font-face {
  font-family: "Figtree"; 
  src: url("static/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style:normal;
}
@font-face {
  font-family: "Figtree";
  src: url("static/Figtree-Bold.ttf") format("truetype");
       
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("static/Figtree-Medium.ttf") format("truetype");
      
  font-weight: 500;
  font-style: normal;
}
.main{
   
    width: 1440px;
    height: 1024px;
    
    
    position: relative;
    margin: auto;
    

    
   
}
.d-left{
    
    
    width: 676px;
    height: 960px;
    border-radius: 20px;
    background-position:center ;
    background-size: cover;
    background-image:linear-gradient(to bottom,rgba(70, 95, 241,0.37),rgba(70, 95, 241,1)), url(img/photo_2025-12-26_23-26-49.jpg);
    position: absolute;
    top: 32px;
    left:32px ;
}

.text1{
    font-family:"Figtree";
    font-weight: 900;
    font-size: 40px;
    font-style: normal;
    color: white;
    line-height: 119%;
    margin: 0;
}
.text2{
    font-family:"Figtree";
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    color: white;
    line-height: 100%;
    margin: 0;
}

.d-sp-t{
    width: 454px;
    height: 74px;
    top: 108px;
    left: 112.5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

  
  
}

.text3{
    font-family:"Figtree";
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    color: white;
    line-height: 100%;
    margin: 0;
}

.text4{
    font-family:"Figtree";
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    color: white;
    line-height: 100%;
    text-align: center;
    margin: 0;
}

.d-sp-b{
    width: 431px;
    height: 124px;
    align-items: center;
    gap: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 700px;
    left: 124.5px;
}






.d-right{
    width:358px ;
    height:692px ;
    border: 2px; 
    position: absolute;
    top: 166.5px;
    left: 900px;
    
    
}

.icon1{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    
}

.title{
    display: flex;
    gap: 12px;
    align-items: center;
    
}

.h1{
    font-family:"Figtree";
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    color: rgb(0, 0, 0);
    line-height: 100%;
    letter-spacing: 0%;
}


.form{
    width: 358px;
    height: 631px;
    position: relative;
    
    
}
.twobutten{
    width: 354px;
    height: 41px;
    background-color:rgba(236, 240, 255, 1);
    border-radius: 8px;
    padding: 2px;
    display: grid;
    grid-template-columns: 175px 175px;
    grid-template-rows: 35px;
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 0px;
    
    


  

}
.leftb{
    width: 175px;
    height: 35px;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    border: none;
    border-style: none;
    border-width: 0px;
    background-color: rgba(70, 95, 241, 1);

   

}
.rightb{
    width: 175px;
    height: 35px;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    border: none;
    border-style: none;
    border-width: 0px;

    
}
.p1{
    width: 57px;
height: 19px;

font-family: "Figtree";
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: white;

}
.p2{
     width: 50px;
height: 19px;

font-family: "Figtree";
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: rgba(156, 154, 165, 1);
}

.f1{
    width: 358px;
    height: 75px;
    position: absolute;
    top: 67px;
    gap: 8px;
    

}
.f2{
    position: absolute;
    top: 166px;

}
.f3{
    position: absolute;
    top: 265px;

}
.f4{
    position: absolute;
    top: 364px;

}
.in1{
width: 350px;
height: 48px;
padding: 0px;
border-radius: 8px;
border: 2px solid rgba(70, 95, 241, 1);
margin-top: 8px;

padding-left: 4px;
box-shadow:0px 4px 8px 0px rgba(70, 95, 241, 0.1);
}
.in2{
width: 350px;
height: 48px;
padding: 0px;
border-radius: 8px;
border: 2px solid rgba(70, 95, 241, 1);
margin-top: 8px;
padding-left: 4px;
box-shadow:0px 4px 8px 0px rgba(70, 95, 241, 0.1);
}
.in3{
width: 350px;
height: 48px;
padding: 0px;
border-radius: 8px;
border: 2px solid rgba(70, 95, 241, 1);
margin-top: 8px;
padding-left: 4px;
box-shadow:0px 4px 8px 0px rgba(70, 95, 241, 0.1);
}
.in4{
width: 350px;
height: 48px;
padding: 0px;
border-radius: 8px;
border: 2px solid rgba(70, 95, 241, 1);
margin-top: 8px;
padding-left: 4px;

}
.lab1{
    width:73px ;
    height: 19px;
font-family: "Figtree";
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.lab2{
    width:72px ;
    height: 19px;
font-family: "Figtree";
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;


}
.lab3{
    width:39px ;
    height: 19px;
font-family: "Figtree";
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.lab4{
    width:70px ;
    height: 19px;
font-family: "Figtree";
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.forpa{
font-family: "Figtree";
font-weight: 400;
font-style: normal;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;


color: rgba(156, 154, 165, 1);

}
.lastp{
   display: grid; justify-content: space-between;
   grid-template-rows: 19px;
   grid-template-columns: 70px 98px;
   position: relative;
    
}
.validate>div{
    font-family: "Figtree";
font-weight: 400;
font-style: normal;
font-size: 12px;
justify-items: start;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
display: flex;
align-items: center;
gap: 9px;

}

.validate>img{
    text-align: start;
    margin-right: 4px;
}
.validate{
    width: 358px;
    height: 88px;
    gap: 8px;
    display: grid;
    margin-top: 8px;
}
.submit{
    width: 358px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    font-family: "Figtree";
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: rgba(70, 95, 241, 1);
    border-radius: 8px;

}
.companystatement{
    position: absolute;
    width: 259px;
height: 24px;

opacity: 1;
top: 953px;
left: 950px;
text-align: center;
font-family: "Figtree";
font-weight: 400;
font-style: normal;
font-size: 10px;

line-height: 100%;
letter-spacing: 0%;
text-align: center;

}
